/* Paginas de productos */

@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        margin: 10rem 0;
    }

}

.dataDetail{
    text-align: start;
    font-size: 5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    /*  border:1rem solid var(--primarioOscuro); Esta linea es lo mismo que escribir las otas tres lineas */
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

option{
    background-color: var(--primarioOscuro);
}

.addLn{
    margin: 3rem 0;
}


