.container-count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.container-count button {
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    color: var(--primario);
}

.container-count p {
    font-size: 3rem;
    color: var(--secundario);
}

p:nth-child(1){
    font-weight: 700;
}

.add {
    width: 100%;
    background-color: var(--secundario);
    border: none;
    font-size: 2.5rem;
    font-family: var(--fuentePrincipal);
    padding: 1.5rem;
    transition: background-color .3s ease;
    color: var(--primario);
    
}

.add:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);

}